# Site settings
title: 灰蓝
url: "http://huilansame.github.io"    # the protocol and hostname of your site, eg. `http://laobubu.github.io`
baseurl: "/huilansame.github.io" # the prefix of your site uri, eg. `/jekyll-theme-EasyBook` or just one slash `/`
#timezone: Asia/Chongqing
description: >
  灰蓝的博客.

# Your information
email: 396214358@qq.com
author: 灰蓝
avatar: "http://avatar.csdn.net/6/5/E/1_huilan_same.jpg"
profile: 自动化测试工程师
#twitter_username: twitter_username
#github_username:  github_username

# Comment Service (Disqus or 多说)
#  choose one and un-comment the line to active it
#disqus_shortname: xxx   # get one: https://disqus.com/admin/signup/
#duoshuo_shortname: xxx  # get one: http://duoshuo.com/create-site/

permalink: /archivers/:title
gems:
 - jekyll-paginate
 - jekyll-gist
 - jemoji

# Build settings
paginate: 5
paginate_path: "page:num"

highlighter: rouge
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
